/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .modal {
    width: 600px;
    font-size: 12px;
  }
  .closeButton {
    top: 25px;
    left: 25px;
    color: black;
  }
  .modal .recipeInfos {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
}
