button {
  font-family: "Roboto, lora";
  color: #2c2c2c;
  background-color: white;
  line-height: 29px;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
  padding: 5px 20px;
  margin: auto 0;
  box-shadow: rgba(60, 66, 87, 0.12) 0px 7px 14px 0px,
    rgba(0, 0, 0, 0.12) 0px 3px 6px 0px;
}

button:hover {
  background-color: #d7edd7;
  transition: 100ms ease-in;
  cursor: pointer;
}

.contentButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

.form button {
  width: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.recipeText button {
  width: 200px;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.closeButton {
  border: solid 1px red;
  color: #fff;
  width: 50px;
  height: 50px;
  z-index: 10000;
  position: absolute;
  top: -15px;
  left: -40px;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 0px;
}
