/* Starter */
html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

img {
  border-radius: 30px;
  max-width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
